
textarea{
    background: transparent;
    border: none;
    color: black;
    border: solid black;
    margin-bottom: 210px;
}


#todo text{
    margin-top: 20px;
    text-align: center;
}


.wrap{
    white-space: pre-wrap;
}
.row{
    white-space: pre-wrap;
    height: 100px;
    margin-bottom: 5%;
    
}
.idPortion{
    margin-top:2%;
    margin-bottom: 10px;
}
.top{
    margin-top:100px;
}
.center {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 10px;
  }

.date{
      background-color: blue;
    }

.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: #ff6961;
    color: white;
}

.future {
    background-color: #77dd77;
    color: white;
}

.btn{
    height: fit-content;

}